---
import NavBar from './../components/navBar/NavBar'
---
<div class="w-full h-full flex flex-col justify-center items-center relative">
    <div class="h-screen w-full flex justify-center outline bg-red-400">welcome</div>
    <div class="fixed bottom-5">
        <NavBar></NavBar>
    </div>
</div>