---
import NavBar from "./../components/navBar/NavBar";
import vanakkam from "./../../public/svg/vanakkam.svg?raw";
import LoadingScreen from './../components/loadingScreen/LoadingScreen'
---

<div class="w-full h-full flex flex-col justify-center items-center relative">
  <div class="h-screen w-full flex justify-center">
    <div class="h-60 w-60">
      <!-- <Fragment set:html={vanakkam} /> -->
      <LoadingScreen></LoadingScreen>
    </div>
  </div>
  <div class="fixed bottom-5">
    <NavBar />
  </div>
</div>
